@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.navbar {
    background: #047aed;
    height: 70px;
    color: #FFF;
}
.navbar .flex {
    justify-content: space-between;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: auto;
}
.container ul {
    display: flex;
    
}
ul a {
    color: #FFF;
    padding: 10px;
    margin: 0 5px;
}
ul a:hover {
    border-bottom: 2px solid #FFF;
}
